<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Process Automation Tools</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy;@DateTime.Now.Day - @DateTime.Now.Month - @DateTime.Now.Year </p>
            </footer>
        </div>

    </div>
</body>
</html>
