@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Users";
    
}

<div id="loginpanelwrap">
    <div class="loginheader">
        <div class="logintitle"><a href="#">Login</a></div>
    </div>

    <br>
    <form id="frmLogin" name="frmLogin" method="post">
        <div class="loginform">
            <div class="loginform_row">
                <label>Username:</label>
               <input type="text" name="txtUserName" id="txtUserName" class="loginform_input" value="@ViewData["UserName"].ToString()">
            </div>
            <div class="loginform_row">
                <label>Password:</label>
                <input type="password" name="txtPassword" id="txtPassword" class="loginform_input" value="@ViewData["PassWord"].ToString()">
            </div>
            <div class="loginform_row">
                <input type="button" id="btnLogin" name="btnLogin" class="loginform_submit" value="login">
            </div>
            <div class="clear">
                 <span id="spnMessage" name ="spnMessage">@ViewData["Message"].ToString()</span>
            </div>
            <div class="loginform_row">
                <a href="#">Register</a> • <a href="#">Forgot Password</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#btnLogin').click(function () {
        $("#frmLogin").attr("action", "Users/Validate");
        $("#frmLogin").submit();
    });

</script>
